<section class="approval-list-view container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Find an {{'Order' | r}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="view-form-icon">
                                <div>
                                    <label>{{'Search' | r}}</label>
                                    <input type="text" ng-model="keyword" class="form-control" />
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="view-form-icon">
                                <div>
                                    <label>{{'Sort' | r}}</label>
                                    <select class="form-control" ng-model="sortOption" ng-options="(option.Label | r) for option in sortOptions">
                                        <option></option>
                                    </select>
                                    <i class="fa fa-sort"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="view-form-icon">
                                <div>
                                    <div class="btn btn-default btn-block" style="min-height: 40px;" ng-show="sortOption" ng-click="reverse = !reverse">
                                        <i class="fa" ng-class="{'fa-long-arrow-down':reverse,'fa-long-arrow-up':!reverse}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <div ng-show="settings.listCount > settings.pageSize">
            <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                        items-per-page="settings.pageSize" direction-links="true"></pagination>
        </div>
        <loadingindicator ng-show="orderLoadingIndicator" title="Please wait while we load your orders"></loadingindicator>
        <li ng-repeat="order in filteredOrders = (orders | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize)  | filter:keyword | orderBy : sortOption.Value : reverse">
           <div ng-click="viewOrder(order); changeStep(1);" ng-class="{'active': order.ExternalID == selectedOrder.ExternalID}">
               <div class="row">
                   <div class="col-xs-3 text-center">
                       <div class="date-badge">
                           <div>{{order.DateCreated | date:'MMM'}}</div>
                           <h3>{{order.DateCreated | date:'dd'}}</h3>
                           <div>{{order.DateCreated | date:'EEEE'}}</div>
                       </div>
                   </div>
                   <div class="col-xs-9">
                       <div class="row">
                           <div class="col-xs-6">
                               <ul class="list-group">
                                   <li class="list-group-item text-center list-group-item-info"><small>{{'Order ID' | r}}</small></li>
                                   <li class="list-group-item"><small>{{order.ExternalID}}</small></li>
                               </ul>
                           </div>
                           <div class="col-xs-6">
                               <ul class="list-group">
                                   <li class="list-group-item text-center list-group-item-info"><small>{{'Creator' | r}}</small></li>
                                   <li class="list-group-item"><small>{{order.FromUserName}}</small></li>
                               </ul>
                           </div>
                       </div>
                       <!--<div class="col-xs-12 text-center">
                           <small>{{'Total' | r}}</small>
                           <h3 class="text-success" style="margin-top:1px;">{{order.Total | currency:"$"}}</h3>
                       </div>-->
                   </div>
               </div>
           </div>
        </li>
        <div ng-show="settings.listCount > settings.pageSize">
            <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                        items-per-page="settings.pageSize" direction-links="true"></pagination>
        </div>
    </ul>
    <div class="alert alert-warning text-center" ng-show="filteredOrders.length == 0 && orders.length > 0">
        <p>No {{'orders' | rl}} match your filters.</p>
    </div>
    <div class="alert alert-info text-center" ng-show="orders.length == 0">
        <p>You have no orders awaiting approval.</p>
    </div>
</section>