<section class="product-detail-default">
    <loadingindicator ng-show="loadingIndicator" title="Please wait while we fetch product information"></loadingindicator>
    <div class="btn btn-warning btn-block" ng-click="changeStep(1)" style="margin-bottom:15px;">Back to {{'order' | r}}</div>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <figure>
                    <img id="451_img_prod_lg" class="product-image-large img-responsive" ng-src="{{LineItem.Variant.PreviewUrl || LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl}}">
                </figure>
                <div class="empty" ng-hide="LineItem.Variant.PreviewUrl || LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl">
                    <span class="fa empty"><i class="fa fa-camera"></i></span>
                </div>
            </div>
            <div class="panel-footer" ng-show="LineItem.Product.Type=='VariableText' && LineItem.Variant">
                <button class="btn btn-default" ng-click="getPdf(LineItem.Variant.ProofUrl)">
                    {{'View' | r}} {{'PDF' | r}}
                </button>
            </div>
        </div>
    </div>
    <div>
        <!-- PRODUCT INFO!-->
        <div class="row">
            <div class="col-xs-12">
                <h2 id="451qa_prod_name" ng-hide="LineItem.Variant.ExternalID">
                    {{LineItem.Product.Name}}
                </h2>
                <h2 ng-show="LineItem.Variant.ExternalID">
                    {{LineItem.Variant.ExternalID}}
                </h2>
                <h2 class="text-success" ng-show="LineItem.PriceSchedule.PriceBreaks.length == 1" ng-if="!(user.Permissions.contains('HidePricing'))">
                    {{LineItem.PriceSchedule.PriceBreaks[0].Price | currency}}
                </h2>
            </div>
        </div>
        <!-- PRODUCT DESCRIPTION PANEL! --->
        <div ng-show="LineItem.Product.Description">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title panel-primary">
                        {{'Description' | r}}
                    </h3>
                </div>
                <div class="panel-body" id="451_area_prod_desc">
                    <h4 ng-show="LineItem.Product.ExternalID" class="text-info">
                        {{'ID' | r}}: {{LineItem.Product.ExternalID}}
                    </h4>
                    <p ng-bind-html='LineItem.Product.Description'></p>
                    <p ng-show="LineItem.Variant.Description" ng-bind-html="trustedDescription(LineItem.Variant)"></p>
                </div>
                <!-- PRICE SCHEDULE PANEL! --->
                <priceScheduleTable ng-if="!(user.Permissions.contains('HidePricing')) && LineItem.PriceSchedule.PriceBreaks.length > 1" ps='LineItem.PriceSchedule' p='LineItem.Product'></priceScheduleTable>
            </div>
        </div>

        <!-- STATIC SPECS PANEL! -->
        <div class="panel panel-default" ng-init="itemspecs = (LineItem.Specs | filter:{'CanSetForLineItem':true});" ng-show="ObjectSize(itemspecs) > 0">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{'Specifications' | r}}
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="spec in itemspecs" class="list-group-item" ng-if="spec.Value">
                        <span class="text-info">{{spec.Name}}: </span>
                        <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName + Extension}}</a></span>
                        <span ng-if="spec.ControlType != 'File'">{{spec.Value || '(unspecified)'}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>