<section class="container order-search-view">
    <div class="row">
        <div class="col-md-4 col-sm-5">
            <div ng-class="{'order-list-container': !isPhone()}">
                <div ng-class="{'order-list-scrollbox': isDesktop()}">
                    <loadingindicator ng-show="orderLoadingIndicator" title="Please wait while we load your orders"></loadingindicator>
                    <div ng-init="toggleButtons = false" class="order-list-row" ng-class="{'selected-order': order.ExternalID == selectedOrder.ExternalID, 'row': isPhone()}"
                         ng-repeat="order in orders" ng-click="viewOrder(order)" hm-double-tap="viewOrder(order)" hm-swipe-left="toggleButtons = true" hm-swipe-right="toggleButtons = false">
                        <div class="approval-button-overlay" ng-hide="!toggleButtons || !isPhone()">
                            <div class="container" style="padding-top:20px;">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn btn-success" ng-click="approveOrder(order)">APPROVE</div>
                                    <div class="btn btn-danger" ng-click="declineOrder(order)">DECLINE</div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left date-badge-container">
                            <div class="date-badge">
                                <p class="date-badge-month"><small>{{order.DateSubmitted || order.DateCreated | date:'MMM'}}</small></p>
                                <h3><b>{{order.DateSubmitted || order.DateCreated | date:'dd'}}</b></h3>
                                <p class="date-badge-day"><small>{{order.DateSubmitted || order.DateCreated | date:'EEE'}}</small></p>
                                <span class="date-badge-crease">
                                    <i class="fa fa-play fa-rotate-270"></i>
                                    <i class="fa fa-square"></i>
                                    <i class="fa fa-play fa-rotate-270"></i>
                                </span>

                            </div>
                        </div>
                        <div class="pull-right order-select-container" ng-class="{'order-select-container-selected': order.ID == selectedOrder.ID}" ng-click="viewOrder(order)">
                            <i class="fa fa-angle-right fa-3x"></i>
                        </div>
                        <div class="order-info-container">
                            <p style="margin-bottom:0;">
                                <small ng-class="{'white-text': order.ExternalID == selectedOrder.ExternalID}"><span class="text-left">Order ID:</span> <b>{{order.ExternalID}}</b></small>
                            </p>
                            <p style="margin-bottom:0;">
                                <small ng-class="{'white-text': order.ExternalID == selectedOrder.ExternalID}">
                                    <span class="text-left">Creator:</span>
                                    <b>{{order.FromUserFirstName + ' ' + order.FromUserLastName}}</b>
                                </small>
                            </p>
                            <h3 ng-class="{'light-blue-highlight': order.ExternalID == selectedOrder.ExternalID}" class="money-text"><b>{{order.Total | currency:"$"}}</b></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!isPhone()" class="col-md-8 col-sm-7 order-history-details-container">
            <div class="order-details-container">
                <div ng-class="{'order-details-scrollbox': isDesktop()}">
                    <p ng-show="!selectedOrder" class="text-center lead" style="margin-top:40%;">No order selected</p>
                    <section ng-show="selectedOrder" class="container order-history-view" style="background-color:#eee;">

                        <div class="order-history-view-detail hidden-print">
                            <div class="row" style="margin-top:15px;">
                                <div class="container">
                                    <h4 class="text-center">ID: {{selectedOrder.ExternalID}}</h4>
                                    <div class="date-badge pull-left">
                                        <p class="date-badge-month"><small>{{selectedOrder.DateSubmitted || selectedOrder.DateCreated | date:'MMM'}}</small></p>
                                        <h3><b>{{selectedOrder.DateSubmitted || selectedOrder.DateCreated | date:'dd'}}</b></h3>
                                        <p class="date-badge-day"><small>{{selectedOrder.DateSubmitted || selectedOrder.DateCreated | date:'EEE'}}</small></p>
                                    </div>
                                    <div style="margin-left:65px;">
                                        <div ng-class="{'payment-badge-container': selectedOrder.CostCenter}">
                                            <div class="misc-badge">
                                                <p class="date-badge-month"><small>Payment Method</small></p>
                                                <div class="container" style="min-height:57px;">
                                                    <p style="margin-bottom:0; padding-top:10px;">
                                                        <small>
                                                            {{selectedOrder.PaymentMethodText}}<br ng-show="selectedOrder.CreditCard.Type">
                                                            <strong ng-show="selectedOrder.CreditCard.Type">{{selectedOrder.CreditCard.DisplayName}}</strong>
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width:50%;" ng-show="selectedOrder.CostCenter">
                                            <div class="misc-badge">
                                                <p class="date-badge-month"><small>Cost Center</small></p>
                                                <div class="container" style="min-height:57px;">
                                                    <p style="margin-bottom:0;"><small>{{selectedOrder.CostCenter}}</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;">
                                <div class="container" style="padding-top:15px; padding-bottom:15px; background-color:#FFF;">
                                    <i class="fa fa-user fa-3x text-muted pull-left"></i>
                                    <p style="margin:0 0 0 45px;"><b>CREATOR</b></p>
                                    <p style="margin:0 0 0 45px;" class="text-info">{{selectedOrder.FromUserFirstName + ' ' + selectedOrder.FromUserLastName}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;" ng-show="selectedOrder.Comments">
                                <div class="container" style="padding-top:15px; padding-bottom:15px; background-color:#FFF;">
                                    <i class="fa fa-comment fa-3x text-muted pull-left"></i>
                                    <p style="margin:0 0 0 45px;"><b>COMMENTS</b></p>
                                    <p style="margin:0 0 0 45px;" class="text-info">
                                        {{selectedOrder.Comments}}
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;" ng-if="!(user.Permissions.contains('HidePricing'))">
                                <div class="container" style="padding-top:15px; padding-bottom:15px; background-color:#FFF;">
                                    <i class="fa fa-file-text fa-3x text-muted pull-left"></i>
                                    <p style="margin:0 0 0 45px;"><b>COST SUMMARY</b></p>
                                    <div class="view-summary text-right" style="margin:15px 0 0 45px;">
                                        <p><span class="text-info">Subtotal</span>{{selectedOrder.Subtotal | currency:"$"}}</p>
                                        <p><span class="text-info">Shipping & Handling</span>{{selectedOrder.ShippingCost | currency:"$"}}</p>
                                        <p><span class="text-info">Tax</span>{{selectedOrder.TaxCost | currency:"$"}}</p>
                                        <p ng-if="selectedOrder.Coupon">
                                            <span class="text-info">Coupon ({{selectedOrder.Coupon.Label}})</span>
                                            {{selectedOrder.Coupon.selectedOrderDiscount * -1 | currency}}
                                        </p>
                                        <hr style="border-top-color: #DDDDDD; margin: 10px -15px 10px -60px;">
                                        <p><span class="text-info">Total</span>{{selectedOrder.Total | currency:"$"}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px;" ng-show="selectedOrder.ShipAddress">
                                <div class="container" style="padding-top:15px; padding-bottom:15px; background-color:#FFF;">
                                    <i class="fa fa-map-marker fa-3x text-muted pull-left"></i>
                                    <address ng-show="selectedOrder.ShipAddress" class="pull-right" style="margin-bottom:0; max-width:150px;">
                                        <p class="text-right">
                                            {{selectedOrder.ShipAddress.FirstName + ' ' + selectedOrder.ShipAddress.LastName}}
                                            <br ng-show="selectedOrder.ShipAddress.FirstName || selectedOrder.ShipAddress.LastName">
                                            <small>{{selectedOrder.ShipAddress.CompanyName}}</small><br ng-show="selectedOrder.ShipAddress.CompanyName">
                                            {{selectedOrder.ShipAddress.Street1}}<br>
                                            {{selectedOrder.ShipAddress.Street2}}<br ng-show="selectedOrder.ShipAddress.Street2">
                                            {{selectedOrder.ShipAddress.City}}, {{selectedOrder.ShipAddress.State}} {{selectedOrder.ShipAddress.Zip}}
                                        </p>
                                    </address>
                                    <p style="margin:0;"><b>SHIPPING<br>ADDRESS</b></p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;" ng-show="selectedOrder.BillAddress">
                                <div class="container" style="padding-top:15px; padding-bottom:15px; background-color:#FFF;">
                                    <i class="fa fa-map-marker fa-3x text-muted pull-left"></i>
                                    <address ng-show="selectedOrder.BillAddress" class="pull-right" style="margin-bottom:0; max-width:150px;">
                                        <p class="text-right">
                                            {{selectedOrder.BillAddress.FirstName + ' ' + selectedOrder.BillAddress.LastName}}
                                            <br ng-show="selectedOrder.BillAddress.FirstName || selectedOrder.BillAddress.LastName">
                                            <small>{{selectedOrder.ShipAddress.CompanyName}}</small><br ng-show="selectedOrder.BillAddress.CompanyName">
                                            {{selectedOrder.BillAddress.Street1}}<br>
                                            {{selectedOrder.BillAddress.Street2}}<br ng-show="selectedOrder.BillAddress.Street2">
                                            {{selectedOrder.BillAddress.City}}, {{selectedOrder.BillAddress.State}} {{selectedOrder.BillAddress.Zip}}
                                        </p>
                                    </address>
                                    <p style="margin:0;"><b>BILLING<br>ADDRESS</b></p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px; margin-bottom:85px;">
                                <div class="panel panel-default order-history-view-line-items" style="border:none; margin-bottom:0;">
                                    <div class="panel-heading" style="border:none;">
                                        <h3 class="panel-title panel-primary">
                                            {{selectedOrder.LineItems.length}} item{{currentselectedOrder.LineItems.length > 1 ? 's' : ''}} in this selectedOrder
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="border:none;">
                                        <div class="row">
                                            <div class="container" ng-class="{'order-history-view-line-items-repeater': selectedOrder.LineItems.length > 1}"
                                                 ng-repeat="item in selectedOrder.LineItems">
                                                <div class="order-history-view-line-items-product row">
                                                    <div class="col-sm-6">
                                                        <!--- Removed link to static line item history view. Carry over from COS? I don't believe we need this page anymore. --->
                                                        <h3 class="text-primary" style="margin: 0; padding: 0;">
                                                            <a ng-href="orders/{{selectedOrder.ID}}/{{$index}}" style="color:#3A87AD;">{{item.ProductIDText}}</a>
                                                        </h3>
                                                        <span>{{item.Product.Name}}</span>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div ng-if="!(user.Permissions.contains('HidePricing'))" class="col-xs-12 col-sm-4">
                                                                <p>
                                                                    <small class="text-info">Total</small><br />
                                                                    <span class="text-success">{{item.LineTotal | currency:"$"}}</span>
                                                                </p>
                                                            </div>
                                                            <div ng-if="!(user.Permissions.contains('HidePricing'))" class="col-xs-12 col-sm-4">
                                                                <p>
                                                                    <small class="text-info">Unit Price</small><br />
                                                                    <span class="text-success">{{item.UnitPrice | currency:"$"}}</span>
                                                                    x {{item.Quantity * (item.Product.QuantityMultiplier || 1)}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-4" ng-show="selectedOrder.Status == 'Open'">
                                                                <p>
                                                                    <small class="text-info">Shipped</small><br />
                                                                    {{item.TotalShipped}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <p ng-if="item.CostCenter">
                                                                    <span class="text-info">Item Cost Center</span> {{item.CostCenter}}
                                                                </p>
                                                                <p ng-if="item.ShipperName">
                                                                    <strong>Shipper Name</strong><br />
                                                                    {{item.ShipperName}}
                                                                </p>
                                                                <address ng-show="item.ShipAddress">
                                                                    <strong>Ship to</strong><br>
                                                                    {{item.ShipAddress.Street1}}<br>
                                                                    {{item.ShipAddress.Street2}}<br ng-show="item.ShipAddress.Street2">
                                                                    {{item.ShipAddress.City}}, {{item.ShipAddress.State}} {{item.ShipAddress.Zip}}
                                                                </address>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <p ng-if="item.ShipAccount">
                                                                    <strong>Shipper Account</strong><br />
                                                                    {{item.ShipAccount}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <approval id="notPhone" order="selectedOrder"
                                      ng-show="selectedOrder.Status == 'AwaitingApproval' && (selectedOrder.UserCanApprove || user.Permissions.contains('ApproveAllselectedOrders'))"></approval>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>